@media only screen and (max-width: 588px) {
  #section4 {
    display: inline-block;
    background-size: 100%;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 25px;
    border-radius: 18px;
    width: calc(100% - 100px);
    height: inherit;
    border-radius: 18px;
    background-color: rgb(244, 240, 246);
    box-shadow: 0px 0px 5px 2px rgb(245, 226, 252);
  }
}
@media only screen and (min-width: 1570px) {
  #section4 {
    display: inline-block;
    background-size: 100%;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-right: 45px;
    padding-left: 25px;
    padding-bottom: 25px;
    height: inherit;
    width: 400px;
    border-radius: 18px;
    background-color: rgb(244, 240, 246);
    box-shadow: 0px 0px 5px 2px rgb(245, 226, 252);
  }
}
@media only screen and (min-width: 588px) and (max-width: 1570px) {
  #section4 {
    float: right;
    display: inline-block;
    background-size: 100%;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 45px;
    padding-left: 25px;
    padding-bottom: 25px;
    height: inherit;
    width: 650px;
    border-radius: 18px;
    background-color: rgb(244, 240, 246);
    box-shadow: 0px 0px 5px 2px rgb(245, 226, 252);
  }
}
.section4-content {
  margin-top: 10px;
  font-size: large;
}
.section4-content li {
  margin-left: 40px;
  margin-bottom: 5px;
  font-size: 19px;
}
